<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <!--注册Filter-->
    <context-param>
        <param-name>password</param-name>
        <param-value>1234</param-value>
    </context-param>
    <filter>
        <display-name>UserNameFilter</display-name>
        <filter-name>UserNameFilter</filter-name>
        <filter-class>com.javaweb.Filter.UserNameFilter</filter-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>Tom</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UserNameFilter</filter-name>
        <url-pattern>/hello.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PasswordFilter</filter-name>
        <filter-class>com.javaweb.Filter.PasswordFilter</filter-class>
      
    </filter>
    <filter-mapping>
        <filter-name>PasswordFilter</filter-name>
        <url-pattern>/hello.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>secondfilter</filter-name>
        <filter-class>com.javaweb.Filter.SecondFilter</filter-class>

    </filter>
    <!--映射Filter-->
    <filter-mapping>
        <filter-name>secondfilter</filter-name>
        <url-pattern>/test.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>hellofilter</filter-name>
        <filter-class>com.javaweb.Filter.HelloFilter</filter-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>root</param-value>
        </init-param>
    </filter>
    <!--映射Filter-->
    <filter-mapping>
        <filter-name>hellofilter</filter-name>
        <url-pattern>/test.jsp</url-pattern>
    </filter-mapping>
</web-app>